body {
    background-color: aliceblue;
}
#welcome-images {
    width: 100%;
    border: 1px hidden;
}

.defenetion {
    font-size: 32px;
    padding: 25px;
    margin: 30px auto;
    font-family: 'Cairo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 85%;
    margin: 20px auto;
}


.items {
    display: block;
    background-color: palevioletred;
    width: 250px;
    color: azure;
    padding: 10px 25px 25px 25px;
    margin: 15px;
    border-radius: 10%;
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    text-align: center;
}

.aboutUsItemTitle {
    font-size: 28px;
    font-weight: bold;
}

hr {
    padding-left: 5px;
    padding-right: 5px;
    background-color: azure;
    height: 2px;
    margin-bottom: 20%;
}

.donate {
    background-color: #778899;
    background-size: cover;
    width: 100%;
    margin: 100px auto;
    padding: 20px;
    color: azure;
}

#donate-button {
    text-align: center;
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid azure;
    color: white;
}

#donate-button:hover {
    text-decoration: none;
    background-color: #6a7b8d;
}