body {
    background-color: honeydew;
}

.form-container {
    background-color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
    margin: 50px auto;
    max-width: 800px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 25px;
}

.form-control {
    width: 85%;
    padding: 5px;
    margin: 10px 30px;
    margin-bottom: 20px;
    max-width: 350px;
    display: block;
}

    .form-control:hover {
        outline: 5px solid rgba(33, 0, 255, 0.35);
    }

.required::after {
    content: "*";
    color: red;
}

.button-control {
    width: 25%;
    margin: 25px auto;
    background-color: palevioletred;
    color: azure;
}

    .button-control:hover {
        background-color: #c76585
    }

.validation {
    margin: -10px 50px 15px 15px;
    color: red;
}

@media (max-width: 400px) {
    form {
        width: 100%;
        margin: 25px 5px;
        padding: 10px;
    }

    .form-control {
        width: 95%;
        padding: 5px;
        margin: 10px 5px;
        margin-bottom: 20px;
    }

    button-control {
        width: 50%;
    }
}
