body {
    background-color: honeydew;
}

.content {
    font-family: 'Cairo', sans-serif;
    font-size: 32px;
    margin-top: 15vh;
    margin-bottom: 30vh;
    align-self: center;
    justify-self: center;
    max-width: 750px;
    border: 2px solid lightgrey;
    border-radius: 15px;
    background-color: #778899;
    padding: 5vh;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}

.content a {
    color: aliceblue;
    text-decoration: underline;
}

.img {
    width: 40%;
    min-width: 200px;
    margin-bottom: 50px;
}