* {
    margin: 0;
    padding: 0;
}

html {
    direction: rtl;
}

body {
    text-align: right;
}

#charityHeading {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: azure;
}

#charityLogo {
    display: block;
    width: 60px;
    margin: 0 auto;
    height: auto;
}

#charityName {
    text-align: center;
    font-size: 1.5rem;
}


footer {
    position: fixed;
    z-index = 100;
    margin-top: 15px;
    padding-top: 10px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    border-top: 2px solid #6ce6d5;
    background-color: cadetblue;
    color: lavender;
    z-index: 100;
}

@media (max-width: 600px) {
    #charityName {
        font-size: 1.0rem;
    }

    #charityLogo {
        width: 30px;
    }
}