.generalInfoItems {
    background-color: rgba( 218, 237, 100, 0.7);
    height: 100px;
    margin: 40px;
    text-align: center;
    padding-top: 15px;
}

footer {
    background-color: lightslategray;
    width: 70%;
    margin: 0 auto;
    padding-top: 15px;
}
