#welcome-images {
    width: 85%;
    margin: 0 auto;
    border: 1px hidden;
}

img {
    max-height: 850px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 85%;
    margin: 20px auto;
}

.items {
    display: block;
    background-color: palevioletred;
    width: 250px;
    color: azure;
    padding: 10px 25px 25px 25px;
    margin: 15px;
    border-radius: 10%;
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    text-align: center;
}

hr {
    padding-left: 5px;
    padding-right: 5px;
    background-color: azure;
    height: 2px;
    margin-bottom: 20%;
}

#donate-button {
    text-align: center;
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px;
    outline: none;
    background-color: cadetblue;
    color: azure;
    font-size: 18px;
    border-radius: 5%;
}

@media (max-width: 750px) {
    #welcome-images {
        width: 100%;
    }
}